* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;

}

header {
    height: 69px;
    width: 100%;
    background-color: black;
    margin: 0;
    position: fixed;
    top: 0;
    border-bottom: 1px solid seashell;
    text-align: right;
}

.container {
    display: block;
    width: 100%;
    margin: 70px auto 0;
}

.logo {
    float: left;
    margin: 10px 0 0 10px;
    height: 50px;
}

.navbar {
    display: block;
    padding: 0;
}
.navbar a {
    display: inline-block;
    color: seashell;
    height: 69px;

}

.navbar a h4 {
    margin-top: 19px;
}

.mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*19zjti1*_ga*ODkyNzM5NjU0MC4xNjc0MjE5NDU4*_ga_3LRZM6TM9L*MTY3NDIyNzE1Ni4yLjEuMTY3NDIyNzE2MS4wLjAuMA..);
    background-position: center;
    background-size: cover;
    width: 1200px;
    height: 700px;
    
    
}

.mission #info {
    width: 100%;
    background-color: black;
}

.mission #info h2{
    width: 100%;
    padding: 10px 0;
}

.mission #info h4{
    width: 100%;
    padding: 5px 0;
}

.tea {
    display: flex;
    width: 1000px;
    height: auto;
}

.offer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0 50px;
}

.item h4 {
    display: block;
    line-height: 0.9;
    margin: 5px 0 15px;
}

.locations {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*19zjti1*_ga*ODkyNzM5NjU0MC4xNjc0MjE5NDU4*_ga_3LRZM6TM9L*MTY3NDIyNzE1Ni4yLjEuMTY3NDIyNzE2MS4wLjAuMA..);
    display: flex;
    height: 500px;
    width: 1200px;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    gap: 15px 40px;
}

#spots{
    position: absolute;
    display: inline-block;
    margin-bottom: 320px;
    
}


.point {
    width: 300px;
    background-color: black;
    line-height: 3;

}

.contact {
    margin: 0;
    height: 200px;
}

.contact h5{
    line-height: 4;
}

.copiright p {
    margin-left: 20px;
    text-align: left;
}
